extends ../shared/template
block content
  h2 Add a Treasure!
  .container
    .row
      .col-xs-12
        form(role='form', method='post', action='/treasures', enctype='multipart/form-data')
          .row
            .col-xs-6
              input#lat(type='hidden', name='lat')
              input#lng(type='hidden', name='lng')
              .form-group
                label(for='tname') Name
                input#name.form-control(type='text', placeholder='Gold', name='tname')
              .form-group
                label(for='loc') Location
                input#loc.form-control(type='text', placeholder='Enter location', name='loc')
              .form-group
                label(for='hint') Hint
                textarea#hint.form-control(type='textbox', placeholder='Look over there', name='hint')
            .col-xs-6
              .form-group
                label(for='photo') Photo
                input.form-control#photo(type='file', name='photo', multiple=true)
              .form-group
                label(for='difficulty') Difficulty
                br
                select(name='difficulty')
                  option Hard
                  option Medium
                  option Easy
              button.btn.btn-default(type='submit') Submit


block scripts
  script(src='/js/user/new-treasure.js')

